In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [2]:
df = pd.read_csv('amazon_alexa.tsv', delimiter = '\t')

In [3]:
df.shape

(3150, 5)

In [4]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [8]:
# Getting the length of reviews

df['length'] = df['verified_reviews'].apply(len)
df.head()

,rating,date,variation,verified_reviews,feedback,length
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172
4,5,31-Jul-18,Charcoal Fabric,Music,1,5

In [10]:
# Polarity tells about the sentiment of text i.e positive(+1), negative(-1) or neutral(0)
# Polarity lies between -1 to 1

def polartxt(txt):
    textblob = TextBlob(str(txt.encode('utf-8')))
    polar = textblob.sentiment.polarity
    return polar

df['polarity'] = df['verified_reviews'].apply(polartxt)
df.head()

,rating,date,variation,verified_reviews,feedback,length,polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000

In [11]:
# Subjectivity tells if the text is subjective(1) or not(0) i.e briefly described
# Subjectivity lies between 0 and 1

def subjectivetxt(txt):
    textblob = TextBlob(str(txt.encode('utf-8')))
    sub = textblob.sentiment.subjectivity
    return sub

df['subjectivity'] = df['verified_reviews'].apply(subjectivetxt)
df.head()

,rating,date,variation,verified_reviews,feedback,length,polarity,subjectivity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625,0.6000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875,0.8000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100,0.5125
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350,0.4500
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000,0.0000